<div class="product-details-page" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall.jpg' %>')">
  <div class="container-principal">
    <div class="product-description">
      <div class="product-img">
        <%= cl_image_tag @product.product_image.key %>
      </div>
      <div class="product-infos">
        <h1><%= @product.title %></h1>
        <p><%= @product.description %></p>
        <p>Price per day : <%= @product.price %></p>
        <p>Category : <%= @product.category %></p>
        <p>Currently, this item is : free, booked, removed from the market</p>
      </div>
    </div>
    <div class="pendings">
      <!-- Ici je veux avoir une carte par pending, reprenant l'avat et le nom du loueur, la période et le prix total -->
      <div class="pendings-title">
        <h2>Pendings</h2>
      </div>
    </div>
    <div class="stats">
      <!-- Ici on rappelle la date de début de loc, le nombre de loc total, le revenu total généré -->
      <div class="stats-title">
        <h2>Statistics</h2>
      </div>
      <div class="stats-infos">
        <p>Available for xx days, it has been rent yy days</p>
        <p>In total, this item has been rent XX times</p>
        <p>In total, this item has generated YY golds</p>
      </div>
    </div>
    <div class="history">
      <!-- Ici on a un tableau qui reprend pour chaque ligne, l'historique des demandes. -->
      <div class="history-title">
        <h2>History</h2>
      </div>
      <table class="history-table">
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Booked by</th>
          <th>Amount</th>
          <th>Accepted ?</th>
        </tr>
        <tr>
          <td>010101</td>
          <td>020202</td>
          <td>Arnaud</td>
          <td>150</td>
          <td>Yes</td>
        </tr>
        <% @product.rentings.where.not(status: "pending").each do |renting| %>
          <tr>
            <td><%= renting.start_date %></td>
            <td><%= renting.end_date %></td>
            <td><%= renting.user.first_name %> <%= renting.user.last_name %></td>
            <td>nb de jour à calculer</td>
            <td><%= renting.status %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
