<div class="product-details-page" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall.jpg' %>')">
  <div class="container-principal">
    <div class="product-description">
      <div class="product-img">
        <%= cl_image_tag @product.product_image.key %>
      </div>
      <div class="product-infos">
        <h1><%= @product.title %></h1>
        <p><%= @product.description %></p>
        <p>Price per day : <strong><%= @product.price %></strong></p>
        <p>Category : <strong><%= @product.category %></strong></p>
        <p>Currently, this item is : <strong><%= @current_state_product %></strong></p>
      </div>
    </div>
    <div class="pendings">
      <!-- Ici je veux avoir une carte par pending, reprenant l'avat et le nom du loueur, la période et le prix total -->
      <div class="pendings-title">
        <h2>Pendings</h2>
      </div>
      <div class="pendings-grid">

        <div class = "container-rentings">
          <% @product.rentings.each do |renting| %>
            <div class = "card-renting">
                <div>
                  <%= cl_image_tag renting.user.user_avatar.key %>
                </div>
                <h5><%= renting.start_date.strftime("%d/%m/%y") %> to <%= renting.end_date.strftime("%d/%m/%y") %></h5>
                <div class="btn-accept-request">
                  <p>Accept</p>
                </div>
                <div class="btn-deny-request">
                  <p>Deny</p>
                </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
    <div class="stats">
      <!-- Ici on rappelle la date de début de loc, le nombre de loc total, le revenu total généré -->
      <div class="stats-title">
        <h2>Statistics</h2>
      </div>
      <div class="stats-infos">
        <p>Available for <strong><%= (Date.today() - @product.created_at.to_date).to_i %></strong> days, it has been rent <strong><%= @nb_days %></strong> days.</p>
        <p>In total, this item has been rent <strong><%= @product.rentings.count %></strong> times.</p>
        <p>In total, this item has generated <strong><%= @gold_earned %></strong> golds.</p>
      </div>
    </div>
    <div class="history">
      <!-- Ici on a un tableau qui reprend pour chaque ligne, l'historique des demandes. -->
      <div class="history-title">
        <h2>History</h2>
      </div>
      <table class="history-table">
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Booked by</th>
          <th>Amount</th>
          <th>Accepted ?</th>
        </tr>
        <% @product.rentings.where(status: "pending").each do |renting| %><!-- .not -->
          <tr>
            <td><%= renting.start_date.strftime("%d/%m/%y") %></td>
            <td><%= renting.end_date.strftime("%d/%m/%y") %></td>
            <td><%= renting.user.first_name %> <%= renting.user.last_name %></td>
            <td><%= (renting.end_date - renting.start_date).to_i / (60*60*24) + 1 %></td>
            <td><%= renting.status %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
