<!-- La navbar est déjà présente dans application -->
<!-- On doit créer la barre de navigation latérale gauche -->
<!-- <%= render "sidebar" %> -->
<!-- Ensuite on présente une grille avec les produits -->
<div class="products-cards">
  <% @products.each do |product| %>
    <div class="products-card">

      <div class="contenu">
        <!-- Contenu de la card : img, texte et prix -->
        <div class="contenu-img">
          <!-- image -->
        </div>
        <div class="contenu-body">
          <div class="contenu-text">
            <h3><%= product.title %></h3>
            <p><%= product.description %></p>
            <p><%= product.category %></p>
          </div>
          <!-- Il doit y avoir l'avatar du vendeur mais je ne sais plus où exactement -->
          <div class="contenu-price">
            <span><%= product.price %>€</span>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
