<!-- La navbar est déjà présente dans application -->
<!-- Donc pas besoin de la rajouter ici -->
<!-- On doit créer la barre de navigation latérale gauche -->

<!-- Ensuite on présente une grille avec les produits -->
<div class="products" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall.jpg' %>'); min-height: 100vh;">

  <div class="welcome" style="background-image: url('<%= asset_url 'banner-title.png' %>');">
    <h1>Welcome to the store!</h1>
  </div>

  <div class="products-body">
    <div class="navigation-sidebar" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url('<%= asset_url 'card-background.png' %>')">
      <div class="category-selector text-black" data-controller='date-filter'>
        <%= simple_form_for :search, url: products_path, method: :get do |f| %>
          <%= f.input :query, collection: Product::CATEGORIES, label: "Category", required: false%>
          <%= f.input :search_query, label: ('<i class="fa-solid fa-magnifying-glass"></i>').html_safe, class: "button-gold", required: false %>
          <%= f.input :opening_date, label: 'Date', as: :string, input_html: { data: {date_filter_target: "startDateInput" } } %>
          <%= f.input :end_date, as: :string, label: false, input_html: { data: { date_filter_target: 'endDateInput'} } %>
          <%= f.button :submit, "Filter", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>

    <div class="products-cards">
      <% @products.each do |product| %>
        <div class="products-card">
          <div class="contenu" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url('<%= asset_url 'card-background.png' %>')">
            <!-- Contenu de la card : img, texte et prix -->
            <div class="contenu-img">
              <%= cl_image_tag product.product_image.key %>
            </div>
            <div class="contenu-body">
              <div class="contenu-description">
                <div class="contenu-text">
                  <h3><%= product.title %></h3>
                    <%= cl_image_tag product.user.user_avatar.key, class:'avatar-bordered' %>
                  <p><%= product.description %></p>
                </div>
              <div class="contenu-price">
                <div class="contenu-category">
                <span><%= image_tag("category_#{product.category.downcase}.png") %></span>
                <span><%= product.category.capitalize %></span>
                </div>
                <div class="price">
                <span><%= product.price %></span>
                <span><%= image_tag("coin_animated.gif", height: '16') %></span>
                </div>
              </div>
              </div>
            </div>
          </div>
          <%= link_to '', product_path(product), class: 'card-link' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
