<!-- La navbar est déjà présente dans application -->
<!-- Donc pas besoin de la rajouter ici -->
<!-- On doit créer la barre de navigation latérale gauche -->

<!-- Ensuite on présente une grille avec les produits -->
<div class="products" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall.jpg' %>'); min-height: 100vh;">

  <div class="products-title">
    <h1>Bienvenue dans la boutique !</h1>
  </div>

  <div class="products-body">
    <div class="navigation-sidebar">
      <div class="category-selector">
        <h4>Category</h4>
        <%= form_with url: products_path, method: :get do |form| %>
          <%= form.select :query, Product::CATEGORIES%>
          <%= form.submit "Search", class: "btn btn-primary" %>
        <% end %>

          <%# <select name="Category" id="products">
            <option value="volvo">Weapon</option>
            <option value="saab">Armor</option>
            <option value="mercedes">Potions</option>
            <option value="audi">Enchantments</option>
          </select> %>
      </div>
      <div class="date-selector">
        <h4>Rental dates</h4>
        <p>En vrai on utilisera ce qu'on a vu mardi matin</p>
      </div>
      <div class="button-gold" style="background-image: url('<%= asset_url 'gold-button-new.png' %>')">
        <p>Filter</p>
      </div>
    </div>

    <div class="products-cards">
      <% @products.each do |product| %>
        <div class="products-card">
          <div class="contenu">
            <!-- Contenu de la card : img, texte et prix -->
            <div class="contenu-img">
              <%= cl_image_tag product.product_image.key %>
            </div>
            <div class="contenu-body">
              <div class="contenu-description">
                <div class="contenu-text">
                  <h3><%= product.title %></h3>
                  <p><%= product.description %></p>
                </div>
                <div class="contenu-category">
                  <p><i class="fa-regular fa-circle-question"></i> <%= product.category.capitalize %></p>
                </div>
              </div>
              <div class="contenu-price">
                <span class="price"><%= product.price %>g</span>
                <%= cl_image_tag product.user.user_avatar.key %>
              </div>
            </div>
          </div>
          <%= link_to '', product_path(product), class: 'card-link' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
