<div class="fill-container" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall.jpg' %>'); min-height: 100vh;">
  <div class="row d-inline-flex justify-content-between">
    <div class="d-flex col-6">
      <div class = "container-product"  style="background-image: url('<%= asset_url "parchement.png" %>');background-size: contain; background-repeat: no-repeat; height: 1000px">
        <div class = "product-owner">
          <%= cl_image_tag @product.user.user_avatar.key, class: "avatar-bordered me-3", alt: "avatar" %>
          <h2><%= @product.user.first_name %> <%= @product.user.last_name %></h2>
        </div>
        <div class = "card-info">
          <div class = "image-and-details">
            <div class = "temp-image"  style="background-image: url('<%= cl_image_path @product.product_image.key %>')">
            </div>
            <div class = "title-stats">
              <h2><%= @product.title %></h1>
              <h3>Price: <%= @product.price %> <%= image_tag("coin_animated.gif", height: '16') %></h3>
              <h3>Category: <%= @product.category %></h3>
            </div>
          </div>
          <div class = "card-description">
            <p class="fs-4"><%= @product.description %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 d-flex mx-5 getUnavailable" data-unavailable="<%= @unavailable_dates.to_json %>">
      <div class = "container-booking mt-5">
        <h2 class="text-white text-center">Rent this stuff!</h2>
        <p class="text-white text-center">(<%= @product.price %> gold coins a day)</p>
        <%= simple_form_for([@product, @renting],
              html: {
                data: {
                  controller: 'datepicker'
                }
              }) do |f| %>
          <%= f.input :start_date, as: :string, label: "Pick dates", input_html: { data: { datepicker_target: 'startDateInput'} } %>
          <%= f.input :end_date, as: :string, label: false, input_html: { data: { datepicker_target: 'endDateInput'} } %>
          <%# <%= f.label :total_price %>
          <%= f.submit 'Validate' %>
        <% end %>
      </div>
    </div>

  </div>

</div>
