<div class="fill-container" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall' %>')">
  <div class = "container-seller">
    <h2><%= @product.user.first_name %> <%= @product.user.last_name %></h2>
    <h2></h2>
  </div>
  <div class = "container-product"  style="background-image: url('<%= asset_url "parchement" %>')">
    <div class = "card-info">
      <div class = "image-and-details">
        <div class = "temp-image"  style="background-image: url('<%= cl_image_path @product.product_image.key %>')">
        </div>
        <div class = "title-stats">
          <h2><%= @product.title %></h1>
          <h3>Price: <%= @product.price %></h3>
          <h3>Category: <%= @product.category %></h3>
        </div>
      </div>
      <div class = "card-description">
        <%= @product.description %>
      </div>
    </div>
  </div>
</div>
<div class = "container-booking">
  <%= simple_form_for([@product, @renting]) do |f| %>
  <%= f.input :start_date,as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.label :total_price %>
  <%= f.submit %>
  <% end %>
</div>
